<head>
        <title>Home - Miller Automotive</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="/">Home</a>
            <a href="/dealerships-page">Dealerships</a>
            <a href="/orders-page">Orders</a>
            <a href="/cars-page">Cars</a>
            <a href="/parts-page">Parts</a>
            <a href="/suppliers-page">Suppliers</a>
            <a href="/carparts-page">Cars & Parts</a>
        </div>
        <div id="content">
            <h1>Miller Automotive</h1>
            <p>&nbsp;</p>
            <h2>Miller Automotive sells $100 million in cars annually. Total car sale volume is approximately 5,000 units per annum. This database tracks car sales for our dealerships, as well as how parts are sourced for those cars from our various suppliers. Miller Automotive has 5 dealerships that it manufactures cars for and 10 suppliers for parts.<br><br>The database tracks parts from the suppliers to Miller Automotive needed to manufacture a specific model of a car. It then tracks orders taken from dealerships of the Car Models that are manufactured.<br><br>A dealership can have multiple car models on the same order. Tracking inventory is not required as Miller Automotive only manufactures cars based on orders taken from dealerships. Ie. there is no stock. Due to the nature of manufacturing based on specific demand and the volume of sales of $100 million it is imperative that parts required to manufacture cars, the suppliers of the parts, and also specific orders are documented effectively to ensure efficient operation.
            </h2>
        </div>
    </body>