<link rel='stylesheet' href='style.css' />
<div class="navbar">
    <a href="/">Home</a>
    <a href="/dealerships-page">Dealerships</a>
    <a class="active" href="/orders-page">Orders</a>
    <a href="/cars-page">Cars</a>
    <a href="/parts-page">Parts</a>
    <a href="/suppliers-page">Suppliers</a>
    <a href="/carparts-page">Cars & Parts</a>
</div>

<h1>ORDERS</h1>